<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>Already a user?</p>
<button><a href="/login">Login</a></button>

<p>Don't have user account yet?</p>
<button><a href="/signup">Sign UP</a></button>

